@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Oswald);

label { font-family: 'Roboto Condensed', sans-serif; }
body { font-family: 'Open Sans',serif;}
h1, h2, h3, h4, h5 {font-family: 'Oswald', 'Varela Round', serif}
.jumbotron {font-family: 'Roboto Condensed', serif;}
.mtop5 { margin-top:5px; }
.mtop7 { margin-top:7px; }
.mtop10 { margin-top:10px; }
.mtop15 { margin-top:15px; }
.mtop17 { margin-top:17px; }
.mtop23 { margin-top:23px; }
.mtop30 { margin-top:30px; }

.prt2 { padding-right: 4px;}
.prt4 { padding-right: 4px;}
.prt8 { padding-right: 8px;}
.prt10 { padding-right: 10px;}

.plt2 { padding-left: 2px;}
.plt4 { padding-left: 4px;}
.plt8 { padding-left: 8px;}
.plt10 { padding-left: 10px;}

.plrt2 { padding-right: 2px; padding-left: 2px}
.pltr4 { padding-right: 4px; padding-left: 4px}
.pltr8 { padding-right: 8px; padding-left: 8px}
.pltr10 { padding-right: 10px; padding-left: 10px}

.mleft2 { margin-left: 2px}
.mleft4 { margin-left: 4px}
.mleft8 { margin-left: 8px}
.mleft10 { margin-left: 10px}
.mleft15 { margin-left: 15px}
.mleft20 { margin-left: 20px}

.mright2 { margin-right: 2px}
.mright4 { margin-right: 4px}
.mright8 { margin-right: 8px}
.mright10 { margin-right: 10px}

a, a:link, a:hover, a:active, a:visited {text-decoration: none}

.bold {font-weight: bold}
.bolder {font-weight: bolder}

.repeat-item.ng-enter,
.repeat-item.ng-leave {  -webkit-transition:0.5s linear all;  transition:0.5s linear all;  }

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active { opacity:0; }
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active { opacity:1; }
/*.repeat-item { height: 30px;  background: green;  margin-bottom: 5px;}*/
.delete { float: right; }


.animate-enter, .animate-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
}

.animate-leave.animate-leave-active, .animate-enter {opacity: 0; width: 0px; height: 0px;}
.animate-enter.animate-enter-active, .animate-leave {opacity: 1; width: 150px; height: 30px;}
.vcenter {  display: inline-block; vertical-align: middle; float:none }
.main-form { position:absolute; right:0; top:0; background:white; width:500px; z-index:100;padding:20px; border-left:2px solid black;min-height:100%;  }
.form-group.required .control-label:after { content: "*"; color:red;}
.panel-footer {  font-family: 'Source Sans Pro', 'Open Sans', serif}
.header { font-family: 'Oswald', serif; background-color: #dddddd }
.view-label { font-family: 'Oswald', serif; }
.allcaps { text-transform: capitalize}