<div class="panel">
  <div class="panel-heading"><h4>Create new Task</h4></div>
  <div class="panel-body">
    <form name="addTaskForm" ng-submit="ntc.saveTask()" novalidate>
      <div class="row">
        <!-- Name -->
        <div class="col-sm-6 form-group">
          <label class="control-label" for="taskName">Name</label>
          <input type="text"
                class="form-control"
                id="taskName"
                name="taskName"
                ng-model="taskVO.task.title"
                data-ng-minlength="6"
                data-ng-maxlength="20"
                data-ng-required="true"/>
          <div class="error" data-ng-messages="addTaskForm.taskName.$dirty && addTaskForm.taskName.$error">
            <div ng-message='required'>This is a required field </div>
            <div ng-message='minlength'>Please enter a task name of no less than 6 characters </div>
            <div ng-message='maxlength'>Please enter a task name of no more than 20 characters</div>  
          </div>
        </div>
        
        <!-- AssignedTo -->
        <div class="col-sm-6 form-group">
          <label for="taskAssignedTo">Assigned To</label>
          <select id="taskAssignedTo"
                    class="form-control"
                    name="taskAssignedTo"
                    data-ng-model="taskVO.task.taskAssignedTo"
                    data-ng-required="true"/>                  
          </select>
          <div class="error" data-ng-messages="addTaskForm.taskAssignedTo.$dirty && addTaskForm.taskAssignedTo.$error">
            <div ng-message='required'>This is a required field </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <!-- Description -->
        <div class="col-sm-6 form-group">
          <label for="taskDesc">Description</label>
          <textarea id="taskDesc"
                    class="form-control"
                    name="tasDesc"
                    data-ng-model="taskVO.task.desc"
                    data-ng-minlength="6"
                    data-ng-maxlength="100"
                    rows="10">
          </textarea>
          <div class="error" data-ng-messages="addTaskForm.taskAssignedTo.$dirty && addTaskForm.taskAssignedTo.$error">
            <div ng-message='minlength'>Please enter a task description no less than 6 characters </div>
            <div ng-message='maxlength'>Please enter a task name of no more than 100 characters</div>  
          </div>
        </div>
        
        <!-- Start Date -->
        <div class="col-sm-6 form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="taskStDt">Start Date</label>
              <input type="date"
                    id="taskStDt"
                    class="form-control"
                    name="taskStDt"
                    ng-model="taskVO.task.startDt"
                    data-ng-required="true"/>
              <div class="error" data-ng-messages="addTaskForm.taskStDt.$dirty && addTaskForm.taskStDt.$error">
                <div ng-message="required">This is a required field </div>
              </div>
            </div>
          </div>
          
          <!-- End Date -->
          <div class="row mtop30">
            <div class="col-sm-12 form-group">
              <label for="taskEndDt">End Date</label>
              <input type="date"
                    id="taskEndDt"
                    class="form-control"
                    name="taskEndDt"
                    ng-model="taskVO.task.endDt"
                    data-ng-required="true"/>
              <div class="error" data-ng-messages="addTaskForm.taskEndDt.$dirty && addTaskForm.taskEndDt.$error">
                <div ng-message="required">This is a required field </div>
              </div>
            </div>
          </div>
          
          <!-- Status -->
          <div class="row mtop17">
            <div class="col-sm-12 form-group">
              <label for="taskStatus">Status</label>
              <select id="taskStatus"
                      class="form-control"
                      name="taskStatus"
                      data-ng-model="taskVO.task.taskStatus"
                      data-ng-required="true"/>
              </select>
              <div class="error" data-ng-messages="addTaskForm.taskEndDt.$dirty && addTaskForm.taskEndDt.$error">
                <div ng-message="required">This is a required field </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        <!-- Comments -->
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="taskComments">Comments</label>
          <textarea id="taskComments"
                    class="form-control"
                    name="taskComments"
                    ng-maxlength="2000"
                    data-ng-model = "taskVO.task.comments"
                    rows = "8">
          </textarea>
        </div>
      </div>
    </form>
  </div>
  
  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <button type="button" class="btn btn-warning" data-ng-click="ntc.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary mleft10">Save</button>
    </div>
  </div>
</div>

