<div class="modal-header header">
  <h4 class="pull-left">{{ ntc.taskVO.modalOptions.headerText }}</h4>
  <span class="pull-right">
    <a href="javascript:;" ng-click="ntc.taskVO.modalOptions.close()"><i class="fa fa-close"></i></a>
  </span>
</div>
<div class="modal-body">
  <form name="taskForm" ng-submit="ntc.saveTask()" novalidate>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 form-group required">
        <label class="control-label" for="taskName">Name</label>
        <input type="text"
               class="form-control"
               id="taskName"
               name="taskName"
               ng-model="taskVO.task.name"
               ng-minlength="6"
               ng-maxlength="20"
               name-validator=""
               required/>
      </div>
      <div class="col-sm-3 form-group required">
        <label class="control-label" for="taskAssignedTo">Assigned To</label>
        <select id="taskAssignedTo"
                class="form-control"
                name="taskAssignee"
                data-ng-model="taskVO.task.assignee"
                required>
          <option ng-repeat="assignee in ntc.taskVO.assignees">
            {{ assignee }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 form-group required">
        <label class="control-label" for="taskStDt">Start Date</label>
        <input type="date"
               id="taskStDt"
               class="form-control"
               name="taskStatus"
               ng-model="taskVO.task.startDt"
               required>
      </div>
      <div class="col-sm-3 form-group required">
        <label class="control-label" for="taskStEndDt">End Date</label>
        <input type="date"
               id="taskStEndDt"
               class="form-control"
               name="taskStEndDt"
               ng-model="taskVO.task.endDt"
               required>
      </div>
    </div>
  </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-warning"
          data-ng-click="ntc.taskVO.modalOptions.close()">
    {{ntc.taskVO.modalOptions.closeButtonText}}
  </button>
  <button class="btn btn-primary"
          data-ng-click="ntc.taskVO.modalOptions.ok();">
    {{ntc.taskVO.modalOptions.actionButtonText}}
  </button>
</div>

