<div class="modal-header header">
  <h4 class="pull-left">{{ ntc.modalOptions.headerText }}</h4>
  <span class="pull-right">
    <a href="javascript:;" ng-click="ntc.modalOptions.close()"><i class="fa fa-close"></i></a>
  </span>
</div>
<div class="modal-body">
  <form name="taskForm" novalidate>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 form-group required">
        <label class="control-label" for="taskName">Name</label>
        <input type="text"
               class="form-control"
               id="taskName"
               name="taskName"
               ng-model="ntc.taskVO.task.title"
               ng-minlength="6"
               ng-maxlength="20"
               name-validator=""
               required/>
      </div>
      <div class="col-sm-3 form-group required">
        <label class="control-label" for="taskAssignee">Assigned To</label>
        <select id="taskAssignee"
                class="form-control"
                name="taskAssignee"
                data-ng-model="ntc.taskVO.task.assignee"
                required>
          <option ng-repeat=" (key,value) in ntc.taskVO.assignees track by $index">
            {{ key }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 form-group required">
        <label class="control-label" for="taskStDt">Start Date</label>
        <input type="date"
               id="taskStDt"
               class="form-control"
               name="taskStDt"
               ng-model="ntc.taskVO.task.stdt"
               required>
      </div>
      <div class="col-sm-3 form-group required">
        <label class="control-label" for="taskEndDt">End Date</label>
        <input type="date"
               id="taskEndDt"
               class="form-control"
               name="taskEndDt"
               ng-model="ntc.taskVO.task.enddt"
               required>
      </div>
    </div>
  </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-warning"
          data-ng-click="ntc.modalOptions.close()">
    {{ntc.modalOptions.closeButtonText}}
  </button>
  <button class="btn btn-primary"
          data-ng-click="ntc.modalOptions.ok();">
    {{ntc.modalOptions.actionButtonText}}
  </button>
</div>

